body div{
    display: inline;
}

.ta{
    display: inline-block;
    vertical-align: top;
}
button{
    margin: 10px;
}

textarea{
    width: 500px;
    height: 500px;
}

select{
    display: block;
}
